.App {
  height: 100%;
  width: 100%;
  background-color: #152238;
  color: white;
  font-family: 'Lucida Sans';
  padding: 0%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #BCD2E8; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; 
}

.Header {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 10vh;
  background-color: #1c2e4a;
  align-items: center;
}

.Header .mpp-logo {
  height: 8vh;
  width: 8vh;
  align-items: center;
  justify-self: center;
}

.Header .page-title {
  position: relative;
  font-size: 5vh;
  color: white;
  margin-left: 10px;
}

.main-container {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 90vh;
  padding: 0;
}

.Sidebar {
  height: 90vh;
  background-color: #1c2e4a;
}

.sidebar-logo {
  height: 28px;
  width: 28px;
}

.sidebar-list {
  height: 90vh;
  width: 100%;
  padding: 0%;
}

.sidebar-list .row {
  width: 100%;
  height: 80px;
  list-style: none;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-list .row:hover {
  background-color: #23395d;
}

.sidebar-list #active {
  background-color: #23395d;
}

.main-page{
  height: 90vh;
}

.Dashboard {
  height: 80vh;
  padding: 5vh;
  background-color: #152238;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.Dashboard .Emotion-graph {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  background-color: #1c2e4a;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Dashboard .Emergency-graph {
  grid-column: 1/ span 1;
  grid-row: 2/ span 1;
  background-color: #1c2e4a;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Dashboard .Recent-Emergency {
  grid-column: 2/ span 1;
  grid-row: 1/ span 2;
  background-color: #1c2e4a;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
}

.Dashboard .Emergencies {
  padding: 0;
  margin: 10px;
}

.ServiceContainer{
  display: grid;
  grid-template-columns: 1fr 4fr  ;
  border-radius: 10px;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #152238;
  margin-bottom: 2vh;
}

.ServiceContainer .Logo{
  width:max-content;
  grid-column: 1/ span 1;
  border-radius: 50%;
  margin: 1vh;
  padding: 1vh;
  justify-self: center;
  border-radius: 50%;
}

.ServiceContainer .ServiceDesc{
  grid-column: 2/ span 1 ;
  align-self: center;
  justify-self: start;
  text-align: left;
  font-size: 14px;
}

.ServiceContainer .ServiceDesc .p{
  margin: 0;
  padding: 0;
  
}

.ServiceContainer .Logo .ServicePhoto{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

.Live-Call {
  height: 80vh;
  padding: 5vh;
  background-color: #000E5A;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.Live-Call .Person {
  grid-column: 1/ span 2;
  grid-row: 1/ span 4;
  border: 1px solid #1E2D7D;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr ;
  align-items: center;
}
.Live-Call .options {
  grid-column: 1/ span 3;
  grid-row: 1/ span 2;
  border: 1px solid #1E2D7D;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.Live-Call .Person .Photo{
  grid-column: 1/ span 1 ;
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

.Live-Call .Person .Info{
  grid-column: 1/ span 2 ;
  grid-row: 2/span 2;
  text-align: center;
  margin-top: -50px;
  justify-items: center;
}

.Live-Call .Person .Info .Name {
  size: 6vh;
}

.Live-Call .Person .Info .Call-Status {
  margin-top: 2vh;
  padding: 5px 15px 5px 15px;
  background-color: #23395d;
  border-radius: 10px;
  align-self: center;
  width: min-content;
}
.Live-Call .Emotions2 {
  grid-column: 3/ span 2;
  grid-row: 1/ span 3;
 
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.Live-Call .Emotions2 .Details2 {
  grid-row: 1/span 1;
  
  padding: 40px;
  border-radius: 15px;
  font-weight: bold ;
  font-size: 24px;
 

}
.Live-Call .Emotions2 .Details3 {
  grid-row: 2/span 1;
  background-color:  #1E2D7D;
  border-radius: 15px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;



}
.Live-Call .Emotions {
  grid-column: 5/ span 1;
  grid-row: 1/ span 3;
  background-color: #1E2D7D;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}




.Live-Call .Location {
  grid-column: 3/ span 3;
  grid-row: 4/ span 2;
  height: 20px;
  background-color: #1E2D7D;
  border-radius: 15px;
  align-items: top;
  justify-content: center;
  text-align: center;
}
.Live-Call .dispatch{
  grid-column: 1/ span 2;
  grid-row: 5/ span 1;

  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  align-items: center;
}
.Live-Call .dispatch .Rescue-Team {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  background-color: #461e33;
  height: 100%;
  border: #ff0022 2px solid;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.Live-Call .Rescue-Team .Rescue-Logo{
  height: 7vh;
  width: 7vh;
  grid-column: 1/ span 1;
  align-self: center;
  justify-self: center;
}

.Live-Call .dispatch .Police-Team {
  grid-column: 3/span 1;
  grid-row: 1/ span 1;
  background-color:rgba(255, 122, 0, 0.58);
  border: #FF7A00 2px solid;
  border-radius: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;

  align-items: center;
}

.Live-Call .Police-Team .Rescue-Logo{
  height: 7vh;
  width: 7vh;

  align-self: center;
  justify-self: center;
}

.Live-Call .dispatch .Ambulance-Team {
  grid-column:2/span 1;
  grid-row: 1/ span 1;
  background-color:  rgba(201, 145, 0, 0.58);
  border: #FABC3C 2px solid;
  border-radius: 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  
  align-items: center;
}

.Live-Call .Ambulance-Team .Rescue-Logo{
  height: 7vh;
  width: 7vh;

  align-self: center;
  justify-self: center;
}



.Call-Logs {
  height: 80vh;
  padding: 5vh;
  background-color: #152238;
}

.Call-Logs .Nav-Bar {
  width: 100%;
  height: 7vh;
  background-color: #1c2e4a;
  border-radius: 15px;
  text-align: center;
  flex: auto;
  display: grid;
  grid-template-columns:  2fr 1fr 1.5fr 1fr 1fr 1fr;

}

.Call-Logs .Logs-List{
  height: 70vh;
  display: grid;
  overflow-y: auto;
  padding: 0;
}

.Call-Logs .Logs-List .Log{
  height: 7vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr 1fr;
  text-align: center;
  border-bottom: 1px solid #23395d;
}

.Maps {
  height: 65vh;
  padding: 5vh;
  background-color: #152238;
  
  gap: 20px;
}

.Maps .Map-Area {
  background-color: #1c2e4a;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab-content {  
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-radius: 15px;
}

.Map {
  padding: 10px;
  background-color: #23395d;
}

.Map-Area .Areawise-Rank {
  height: 75vh;
  grid-column: 2/ span 1;
  background-color: #23395d;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
}

.tab-list {
  padding-left: 0;
  margin: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  width: 1fr;
  padding: 0.5rem 1.5rem;
}

.tab-list-active {
  background-color: #23395d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.RankedCity {
  height: 60px;
  width: 92%;
  background: #1c2e4a;
  margin: 4%;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.RankedCity .Cityname {
  grid-column: 1/ span 1;
  grid-row: 1/ span 1;
  font-size: 25px;
  align-self: center;
  justify-self: left;
  padding-left: 20px;
}

.RankedCity .Cases {
  grid-column: 2/ span 1;
  grid-row: 1/ span 1;
  font-size: 30px;
  align-self: center;
  justify-self: right;
  padding-right: 20px;
}